@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

/* Global Variables */
:root {
  /* Colors */

  --clr-primary-hsl-400: 252, 100%, 63%;
  --clr-primary-hsl-500: 256, 71%, 46%;
  --clr-secondary-hsl-400: 241, 81%, 54%;
  --clr-secondary-hsl-500: 241, 71%, 46%;

  --clr-neutral-hsl-100: 0, 0%, 100%;
  --clr-neutral-hsl-200: 221, 100%, 96%;
  --clr-neutral-hsl-300: 241, 100%, 89%;
  --clr-neutral-hsl-700: 223, 30%, 27%;

  --clr-hsl-accent-1: 0, 100%, 67%;
  --clr-hsl-accent-2: 39, 100%, 56%;
  --clr-hsl-accent-3: 166, 100%, 37%;
  --clr-hsl-accent-4: 234, 85%, 45%;

  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
  --clr-primary-500: hsl(var(--clr-primary-hsl-500));
  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));

  --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
  --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
  --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
  --clr-neutral-700: hsl(var(--clr-neutral-hsl-700));

  --gradient-primary: linear-gradient(
    var(--clr-primary-400),
    var(--clr-secondary-400)
  );

  --gradient-circle: linear-gradient(
    var(--clr-primary-500),
    hsla(var(--clr-secondary-hsl-500), 0)
  );

  /* Typography */

  --ff-default: "HankenGrotesk", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-800: 3.5rem;
  --fs-900: 4.5rem;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* Utility */

.heading--md {
  text-transform: capitalize;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.heading--lg {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.heading--xl {
  font-weight: var(--fw-black);
  font-size: var(--fs-800);
}

.spacing--sm {
  gap: 0.25rem;
}

.spacing--md {
  gap: 1rem;
}

.spacing--lg {
  gap: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1em;
}

.grid {
  display: grid;
}

.space-between {
  justify-content: space-between;
}

.clr-accent1 {
  color: hsl(var(--clr-hsl-accent-1));
  background-color: hsl(var(--clr-hsl-accent-1), 0.05);
}

.clr-accent2 {
  color: hsl(var(--clr-hsl-accent-2));
  background-color: hsl(var(--clr-hsl-accent-2), 0.05);
}

.clr-accent3 {
  color: hsl(var(--clr-hsl-accent-3));
  background-color: hsl(var(--clr-hsl-accent-3), 0.05);
}

.clr-accent4 {
  color: hsl(var(--clr-hsl-accent-4));
  background-color: hsl(var(--clr-hsl-accent-4), 0.05);
}

/* Styles */

body {
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-default);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}
.card {
  min-width: 375px;
  background-color: var(--clr-neutral-100);
}

.button {
  display: block;
  text-decoration: none;
  font-size: var(--fs-400);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-700);
  border-radius: 100vw;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.4s;
}

.button:is(:hover, :focus) {
  background-image: var(--gradient-primary);
}

.result {
  padding: 1.5rem 3rem 2.5625rem;
  text-align: center;
  justify-content: center;
  color: var(--clr-neutral-300);
  background: var(--gradient-primary);
  border-radius: 0 0 2rem 2rem;
}

.result__score span,
.result__rank {
  color: var(--clr-neutral-100);
}

.result__score {
  justify-self: center;
  padding: var(--fs-500);
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: var(--gradient-circle);
  display: grid;
  place-content: center;
  color: hsla(var(--clr-neutral-hsl-100), 0.65);
}

.result__score span {
  display: block;
}

.result__description {
  max-width: 400px;
}

.summary {
  color: var(--clr-neutral-700);
  background-color: var(--clr-neutral-100);
  padding: 1.5rem 2rem;
}

.summary__item {
  border-radius: 0.75rem;
  padding: 1.1rem;
}

.summary__item__score span {
  color: var(--clr-neutral-700);
}

.summary__item__score {
  color: hsla(var(--clr-neutral-hsl-700), 0.5);
}

/* Media queries */

@media (min-width: 600px) {
  body {
    background-color: var(--clr-neutral-200);
    height: 100vh;
    display: grid;
    place-content: center;
    padding: 3vw;
  }

  .card {
    --padding: 2vw;
    max-width: 736px;
    border-radius: 2rem;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
  }

  .result {
    border-radius: 2rem;
  }
}
